<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form action="#">
            <input type="text" id="username" v-model="myAccount.username">
            <input type="password" id="pwd" v-model="">
        </form>
    </div>

    <script src="../vue.js"></script>
    <script>
var vm = new Vue({
    el: '#app',
    data: {
        name: 'stefanie',
        myAccount: {
            username: '',
            password: ''
        },
        methods: {
            submit1: function(){
                alert(this.myAccount.username+"  pwd="+this.myAccount.password)
            }
        }
    }
})
    </script>
</body>
</html>